[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SummarizedBenchmark"]
	path = SummarizedBenchmark
	url = https://github.com/areyesq89/summarizedbenchmark
	shallow = true
	registered = true
